* {
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --dark-brown-bg-color: #181A1B;
    --dark-brown: #524947;
    --light-brown: #797270;
    --orange: #F3D3BD;
    --pink: #BF98A0;
    --blue: #97C8EB;
    --turquoise:#7ED0DC;
    --white: #FFFFFF;
    --light-orange: #F9F6F3;
    --grey: #EBE9E8;
    --grey2: #A8A3A3;

    --gradient-vertical2: linear-gradient(180deg, #F3D3BD 0%, #97C8EB 100%);
    --vertical-gradient: linear-gradient(0deg, #F3D3BD 0%, #97C8EB 100%);
    --brand-gradient: linear-gradient(270deg, #F3D3BD 0%, #97C8EB 100%);
}

body {
    margin: 0;
    padding: 0 120px;
    min-height: 100vh;
    background-color: var(--dark-brown-bg-color);
}

header {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.about-active {
    background-image: linear-gradient(45deg, #97C8EB, #F3D3BD);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

nav a{
    text-decoration: none;
    font-size: 24px;
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
}


section.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-image: url('images/about-logo.png');
}

section.about .about-me {
    grid-column: 2/9;
}

section.about h5{
    font-weight: 400;
    font-family: 'Bebas Neue', normal;
    font-size: 24px;
    grid-column: 2 / 7;

    background-image: linear-gradient(45deg, #97C8EB, #F3D3BD);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.headline {
    font-weight: 400;
    font-family: 'Baloo 2', normal;
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey2);
}

.headline h1{
    font-weight: 500;
    font-family: 'Baloo 2', normal;
    font-size: 64px;
    grid-column: 2 / 7;
    
    background-image: linear-gradient(45deg, #97C8EB, #F3D3BD);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.headline #web{
    font-weight: 800;
    font-family: 'Baloo 2', 'normal';
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey);
}
.headline #web-link{
    font-weight: 800;
    font-family: 'Baloo 2', 'normal';
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey);
}

.headline #web-link a:visited{
    color: var(--blue);
    
  }
  .headline #web-link a:link{
    color: var(--blue);
  }

  .headline #web-link a:hover{
    color:var(--dark-blue);
  }



/* FOOTER */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    background: #F3D3BD;
    padding: 0 120px;
}


footer .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/12;
}

footer p{
    font-family: 'Baloo 2', cursive;
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    align-items: center;
}


