
:root {
    /* colors */
    --dark-brown-bg-color: #181A1B;
    --dark-brown: #524947;
    --light-brown: #797270;
    --orange: #F3D3BD;
    --pink: #BF98A0;
    --blue: #97C8EB;
    --turquoise:#7ED0DC;
    --white: #FFFFFF;
    --light-orange: #F9F6F3;
    --grey: #EBE9E8;
    --grey2: #A8A3A3;

    --gradient-vertical2: linear-gradient(180deg, #F3D3BD 0%, #97C8EB 100%);
    --vertical-gradient: linear-gradient(0deg, #F3D3BD 0%, #97C8EB 100%);
    --brand-gradient: linear-gradient(270deg, #F3D3BD 0%, #97C8EB 100%);
}

body {
    margin: 0;
    padding: 0 120px;
    min-height: 100vh;
    background-color: var(--dark-brown-bg-color);
    
}

header {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
}


nav a{
    text-decoration: none;
    font-size: 24px;
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
}

section.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-image: url('images/about-logo.png');
}

section.about .about-me {
    grid-column: 2/9;
}

section.about h5{
    font-weight: 400;
    font-family: 'Bebas Neue', normal;
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey2);
    
}


.headline {
    font-weight: 400;
    font-family: 'Baloo 2', normal;
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey2);
}

.headline h1{
    font-weight: 500;
    font-family: 'Baloo 2', normal;
    font-size: 64px;
    grid-column: 2 / 7;
    color: var(--grey2);
}

.headline #web{
    font-weight: 800;
    font-family: 'Baloo 2', 'normal';
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey);
}
.headline #web-link{
    font-weight: 800;
    font-family: 'Baloo 2', 'normal';
    font-size: 24px;
    grid-column: 2 / 7;
    color: var(--grey);
}

.headline #web-link a:visited{
    color: var(--blue);
    
  }
  .headline #web-link a:link{
    color: var(--blue);
  }

  .headline #web-link a:hover{
    color:var(--dark-blue);
  }


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    display: flex;
    background: #F3D3BD;

    justify-content: space-between;
}

.social-network-icons{
    position: fixed;
    justify-content: space-between;
}

/* must be fixed */
/* .background-image-logo{
    grid-column: 8/12;
    position: absolute;
} */