:root {
    --dark-brown-bg-color: #181A1B;
    --dark-brown: #524947;
    --light-brown: #797270;
    --orange: #F3D3BD;
    --pink: #BF98A0;
    --blue: #97C8EB;
    --turquoise:#7ED0DC;
    --white: #FFFFFF;
    --light-orange: #F9F6F3;
    --grey: #EBE9E8;
    --grey2: #A8A3A3;
}

body {
    margin: 0;
    padding: 0 120px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-color: var(--dark-brown-bg-color);
}

header, main, footer {
    grid-column: 1 / 12;
}



h1.headline {
    grid-column: 2 / 7;
}

header{
    position: absolute;
    width: 1920px;
    height: 189px;
    left: 0px;
    top: 12px;

/* Dark Blue/BG Color */

background: #181A1B;
}
.topnav{
    position: absolute;
    width: 357px;
    height: 29px;
    left: 1443px;
    top: 92px;
    
}

a{
    /* display: flex;
    justify-content: space-between; */
    width: 71px;
    height: 29px;
    left: 1587px;
    top: 92px;

    font-family: Bebas Neue;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


/* Light orange */

    color: #F9F6F3;
    grid-column: 2 / 7 !important;
    font-weight: 500;
    font-family: 'Baloo 2', cursive;
    font-size: 64px;
    color: var(--light-orange);
}

h1.headline #design {
    color: var(--blue);
}

h1.headline #paint {
    color: var(--orange);
}

h1.headline #ampersand {
    color: var(--pink);
}

h1.headline #photos {
    color: var(--turquoise);
}

section.hero .photo-container{
    grid-column: 8/11;
    background-color: red;
    height: 100px;
}